<html lang="en" >
<head>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="css/angular-material.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="VeraApp" ng-cloak style="height: 100%" ng-controller="mainApp">
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.min.js"></script>
  <script src="lib/angular-aria.min.js"></script>
  <script src="lib/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="lib/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>

<md-toolbar ng-if="true">
  <div class="md-toolbar-tools">
    <h3>
      <span>{{state.name}}</span>
    </h3>
  </div>
</md-toolbar>

    <md-tabs class="md-primary" md-border-bottom md-align-tabs="bottom" md-stretch-tabs="always" style="height: 100%">
      <!-- <md-tab label="De">
        <md-content class="md-padding">
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-content>
      </md-tab> -->
      <md-tab label="devices">
        <md-content class="">
          <md-list-item class="md-2-line md-whiteframe-1dp" ng-repeat="d in devices" ng-click="console.log(d.name)" ng-if="d.category==3 || d.category==2">
            <div class="md-list-item-text" style="padding-left: 10px">
              <h3>{{d.name}}</h3>
              <!-- <md-slider md-miscrete flex min="0" max="100" step="10" style="margin: 0px 50px;"></md-slider> -->
            </div>
            <md-switch ng-hide="d.loading" id="device_toggle_{{d.id}}" ng-change="toggleDevice(d)" class="md-secondary" ng-model="d.status" ng-true-value="'1'" ng-false-value="'0'" aria-label="{{d.name}}"></md-switch>
            <md-progress-circular ng-if="d.loading" class="md-warn" md-mode="indeterminate" md-diameter="40px" style="margin-right: px; margin-top: 15px;"></md-progress-circular>
          </md-list-item>
        </md-content>
      </md-tab>
      <md-tab label="scenes">
        <md-content class="">
          <md-list-item class="md-2-line secondary-button-padding md-whiteframe-1dp" ng-repeat="s in scenes">
            <div class="md-list-item-text" style="padding-left: 10px">
              <h3>{{s.name}}</h3>
            </div>
            <md-button ng-hide="s.loading" class="md-secondary" style="border: 1px solid;" ng-click="runScene(s)">RUN</md-button>
            <md-progress-circular ng-if="s.loading" class="md-warn" md-mode="indeterminate" md-diameter="40px" style="margin-right: 23px; margin-top: 5px;"></md-progress-circular>
          </md-list-item>
        </md-content>
      </md-tab>
    </md-tabs>


</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->